<%- include("partials/header.ejs") %>

<div class="hold pb-4">
  <div>
    <ul class="nav nav-tabs justify-content-center mb-4 custom-nav">
        <li class="nav-item">
          <a class="nav-link fix-nav active" href="#blog" data-target="fixtures">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fix-nav" href="#featured" data-target="results">Featured</a>
        </li>
    </ul>
  </div>

  <div id="blog" class="container tab-content pb-4 fix-section live">   
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Blogs</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/posts'">Add <i class="fa-solid fa-plus"></i></button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Delete All <i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>        
  </div>    

  <div id="featured" class="tab-content container fix-section">
      
  </div>
</div>

<%- include("partials/footer.ejs") %>