<%- include("partials/header.ejs") %>

<form action="/upload-player" method="POST" enctype="multipart/form-data" class="container mt-4 p-4 bg-light rounded shadow-sm">
    <h4 class="mb-3">Add New Player</h4>
    
    <div class="mb-3">
      <label for="playerName" class="form-label">Player Name</label>
      <input type="text" class="form-control" id="playerName" name="playerName" required>
    </div>
    
    <div class="mb-3">
      <label for="playerPhoto" class="form-label">Player Photo</label>
      <input type="file" class="form-control" id="playerPhoto" name="playerPhoto" accept="image/*" required>
    </div>
    
    <div class="mb-3">
      <label for="playerPosition" class="form-label">Position</label>
      <input type="text" class="form-control" id="playerPosition" name="playerPosition" required>
    </div>
    
    <div class="mb-3">
      <label for="playerTeam" class="form-label">Team</label>
      <input type="text" class="form-control" id="playerTeam" name="playerTeam" required>
    </div>
    
    <div class="mb-3">
      <label for="playerNumber" class="form-label">Jersey Number</label>
      <input type="number" class="form-control" id="playerNumber" name="playerNumber" required>
    </div>
    
    <div class="mb-3">
        <label for="playerDob" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="playerDob" name="playerDob" required>
    </div>
    
    <button type="submit" class="btn btn-primary my-btn">Add Player</button>
</form>
  

<%- include("partials/footer.ejs") %>